.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #fff;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;

}

.nav-title {
    color: #0290ff;
    font-size: 1.875rem;
}

.nav-link {
    margin-top: 5px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1rem;
    letter-spacing: 1.9px;
    color: var(--black-two);
    font-weight: 900;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.user-icon-container {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    border-radius: 50%;
}

.fa-user {
    color: #0290ff;   
}
